APP_URL=frontend
APP_ENV=development

PORT=port

DB_NAME=database
DB_HOST=host
DB_PORT=port
DB_USER=username
DB_PASSWORD=password

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_SECURE=false
EMAIL_USER=email
EMAIL_PASSWORD=password
EMAIL_FROM="System Name <email@example.com>"

EMAIL_TLS_REJECT=false

SESSION_SECRET=token