.status-section {
    background: var(--josylinhas-color-tertiary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.status-code,
.status-title {
    color: var(--josylinhas-color-dark);
    font-size: 8rem;
    font-weight: 600;
}

.status-text {
    color: #404040;
    font-size: 1.25rem;
    font-weight: 300;
}

.status-message {
    font-size: 1rem;
}