.partnerships-image {
    display: block;
    max-width: 100%;
    border: 1px solid var(--josylinhas-color-dark);
    margin-bottom: 3rem;
    transition: 0.3s;
    box-shadow: rgb(0 0 0 / 75%) 0px 13px 30px -12px;
}
 
.partnerships-image:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}
 
.text-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1rem;
}
 
.support-list {
    list-style-type: none;
    margin: 1rem 0;
}
 
.support-list li {
    margin-bottom: 1rem;
    padding-left: 1rem;
}
 
.support-list li::before {
    margin-right: 0.5rem;
    content: "—";
}

@media(min-width: 768px) {
    .partnerships-image {
        max-width: 75%;
    }
}